/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

div.banner
{
    background-color: #c0c0c0;
    width: 800px;
    height: 50px;
    line-height:50px;
    text-align: center;
    font-size: 18pt;
    margin-left: auto ;
    margin-right: auto ;
}

div.navigation
{
    background-color: #c0c0c0;
    width: 798px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

div.mininav
{
    background-color: #c0c0c0;
    width: 793px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
}

div.navigation div
{
    background-color: #c0c0c0;
    width: 100px;
    height: 50px;
    position: absolute;
    line-height:50px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin-top: -1px;
}

div.homeBtn
{
    margin-left: -1px;
}

div.recipeBtn
{
    margin-left: 99px;
}

div.ingredientBtn
{
    margin-left: 199px;
}

div.searchBtn
{
    margin-left: 299px;
}

div.adminBtn
{
    margin-left: 399px;
}

div.content
{
    background-color: #c0c0c0;
    width: 800px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

table
{
    border-collapse: collapse;
}