// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.dishes {
  // Add the dishes class to your body tag
  // Then, place scoped styles here.
}