// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.recipes {
  // Add the recipes class to your body tag
  // Then, place scoped styles here.
}

div.fieldL
{
    position: absolute;
}

div.fieldR
{
    position: relative;
    margin-left: 490px;
    height: 500px;
}

div.actionsRecipe
{
    margin-top: -135px;
}